body{
	background-color: #111;
}










.reveal h1{text-shadow:none; text-transform: none;}
.reveal h2{text-shadow:none; text-transform: none;}

section.landing div.introText{
	position: absolute;
	top: 50%;
	height: 540px;
	margin-top: -270px;
	left: 100px;
}

section.landing h1{
	font-family: 'hero_lightlight';
	font-size: 76px;
	color: #000;
	text-align: left;
	width: 500px;
	letter-spacing: -2px;
}

section.landing h1 strong{
	font-family: 'heroregular';
	color: #FF0000;	
	font-weight: normal;
}

section.landing h1.hugeNumber{
	font-size: 197px;
	margin: 0 0 -10px -5px;
}

section.landing h2{
	font-family: 'hero_lightlight';
	font-size: 40px;
	text-align: left;
	color: #000;
	margin: 150px 0 0 0;
//	margin: 22px 0 0 0;
	width: 370px;
	line-height: 35px;
}

section.second div.introText{
	position: absolute;
	top: 50%;
	height: 540px;
	margin-top: -270px;
	left: 100px;
}

section.second h1{
	font-family: 'hero_lightlight';
	font-size: 76px;
	color: #000;
	text-align: left;
	width: 500px;
	letter-spacing: -2px;
}

section.second h1 strong{
	font-family: 'heroregular';
	color: #FF0000;	
	font-weight: normal;
}

section.second h1.hugeNumber{
	font-size: 197px;
	margin: 0 0 -10px -5px;
}

section.second h2{
	font-family: 'hero_lightlight';
	font-size: 40px;
	text-align: left;
	color: #000;
	margin: 150px 0 0 0;
//	margin: 22px 0 0 0;
	width: 370px;
	line-height: 35px;
}




/*SECTIONS*/

section.landing{
	background: url(../img/landingBkg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}

section.second{
	background: url(../img/incompatible.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}

section.third{
	background: url(../img/layer0.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}


section.fourth{
	background: url(../img/layer1.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}

section.fifth{
	background: url(../img/layer2.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}

section.sixth{
	background: url(../img/layer3.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}


section.seventh{
	background: url(../img/layer4.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landingBkg.jpg', sizingMethod='scale')";
	pointer-events:all;
}
/*OVERWRITING REVEAL.JS STYLES*/

.reveal .slides{
	max-width: none; 
	width: 100%;
	height: 100%;
	pointer-events:none;
	margin-top: 0;
	padding: 0;
	top:0;
}

.reveal .slides section{
}

